<!doctype html>
<html>
<head>
    <title>Realistic Cloud Parallax Banner</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/welcome-template.css">
</head>
<body>
<div class="banner">
    <h2 id="text">THE HANGMAN</h2>
    <div class="clouds">
        <img src="/static/cloud1.png" style="--i:1;" alt="">
        <img src="/static/cloud2.png" style="--i:2;" alt="">
        <img src="/static/cloud3.png" style="--i:3;" alt="">
        <img src="/static/cloud4.png" style="--i:4;" alt="">
        <img src="/static/cloud5.png" style="--i:5;" alt="">
        <img src="/static/cloud1.png" style="--i:10;" alt="">
        <img src="/static/cloud2.png" style="--i:9;" alt="">
        <img src="/static/cloud3.png" style="--i:8;" alt="">
        <img src="/static/cloud4.png" style="--i:7;" alt="">
        <img src="/static/cloud5.png" style="--i:6;" alt="">
    </div>
</div>
</div>
<section>
    <h2>The Hangman Game</h2>
    <p>How to play hangman
        Hangman is a simple word guessing game.
        Players try to figure out an unknown word by guessing letters.
        If too many letters which do not appear in the word are guessed, the player is hanged (and loses).

        Setup the game by drawing a gallow and a underline for each letter in the unknown word.
        As letters in the word are guessed, write them above the cooresponding underline.
        If a letter not in the word is guess,
        draw a picture of a person on the gallow–one part for each incorrect letter guess.
        Most frequently, the person is drawn in 6 parts (for 6 letter guesses) in the order:
        head, body, left leg, right leg, left arm, right arm.</p>
</section>
<script type="text/javascript">
    let text = document.getElementById('text');
    window.addEventListener('scroll', function(){
        let value = window.scrollY;
        text.style.marginBottom = value * 2 + "px";
    })
</script>
</body>
</html>
